
#batchtable {
    border-collapse:separate;
}

#batchtable > tr > th,
#batchtable > tr > td {
    padding:10px;
}

.learningtimecheck-fromnow {
    font-size:0.8em;
    color:#7068A4;
}

.learningtimecheck-report .generaltable {
    background-color:white;
}

.report-learningtimecheck-siteadmin{
    background-color:#fff0f0;
    border:1px solid #ffd0d0;
    padding:5px;
    margin-top:5px;
}

.report-learningtimecheck-batchcell.commands {
    padding-top:20px;
}

#report-learningtimecheck-form-buttons {
    margin-bottom:10px;
}

.zerowidth {
    width:0px;
    max-width:0px;
    display:none;
}

#report-learningtimecheck-buttons{
    line-height:24px;
}

#learningtimecheck-user-options > img {
    vertical-align: middle;
}

#report-learningtimecheck-batch-commands {
    margin-top:30px;
}

.report-learningtimecheck-dataloss-advice {
    background-color: #FFCDC0; /* light red */
    padding: 2px;
    border-radius: 5px;
}