


<!-- back_search_button -->
<form style="display: inline;" action="{{{formurl}}}" method="get">
    <input type="hidden" name="sesskey" value="{{sesskey}}" />
    <input type="hidden" name="view" value="{{type}}" />
    <input type="hidden" name="id" value="{{id}}" />
    <input type="hidden" name="search" value="1" />
    <input type="submit" name="back" value="{{backtoindexstr}}" />
</form>
<!-- /back_search_button -->