


<!-- report_learningtimecheck/pdf_button -->
<form style="display: inline;" action="{{{formurl}}}" method="get" target="_blank">
    <input type="hidden" name="sesskey" value="{{{sesskey}}}" />
    <input type="hidden" name="id" value="{{origincourseid}}" />
    <input type="hidden" name="exporttype" value="{{type}}" />
    <input type="hidden" name="itemid" value="{{itemid}}" />
    {{#options}}
    <input type="hidden" name="{{optname}}" value="{{optvalue}}" />
    {{/options}}
    <input type="hidden" name="output" value="pdf" />

{{#detail}}
    <input type="hidden" name="detail" value="1" />
    <input type="submit" name="export" value="{{label}}" />
{{/detail}}
{{^detail}}
    <input type="hidden" name="detail" value="0" />
    <input type="submit" name="export" value="{{label}}" />
{{/detail}}
</form>
<!-- /report_learningtimecheck/pdf_button -->
