


<!-- send_detail_to_batch -->
<form style="display: inline;" action="{{{formurl}}}" method="get">
    <input type="hidden" name="sesskey" value="{{{sesskey}}}" />
    <input type="hidden" name="view" value="{{type}}" />
    <input type="hidden" name="type" value="{{type}}" />
    <input type="hidden" name="id" value="{{courseid}}" />
    <input type="hidden" name="param" value="{{courseid}}" />
    <input type="hidden" name="itemid" value="{{itemid}}" />
    <input type="hidden" name="detail" value="1" />
    <input type="hidden" name="params" value="{{{params}}}" />
    <input type="submit" name="back" value="{{senddetailtobatchstr}}" />
</form>
<!-- /send_detail_to_batch -->
