


<!-- send_to_batch_button -->
<form style="display: inline;" action="{{{formurl}}}" method="get">
    <input type="hidden" name="sesskey" value="{{{sesskey}}}" />
    <input type="hidden" name="view" value="{{view}}" />
    <input type="hidden" name="type" value="{{type}}" />
    <input type="hidden" name="id" value="{{courseid}}" />
    <input type="hidden" name="detail" value="0" />
    <input type="hidden" name="itemid" value="{{itemid}}" />
    <input type="hidden" name="params" value="{{params}}" />
    <input type="submit" name="back" value="{{sendtobatchstr}}" />
</form>
<!-- /send_to_batch_button -->
