

<!-- report_learningtimecheck/user_options -->
<div id="report-ltc-user-options">
    {{#str}}useroptions, report_learningtimecheck{{/str}}
    {{{options}}}
    {{#mayhide}}
    <span class="report-ltc-dataloss-advice">{{#str}}possibledataloss, report_learningtimecheck{{/str}}</span>
    {{/mayhide}}

    &nbsp;
    {{{optionsbutton}}}
</div>
<!-- /report_learningtimecheck/user_options -->
