


<!-- user_options_button -->
<form style="display: inline;" action="{{{formurl}}}" method="get">
    <input type="hidden" name="sesskey" value="{{{sesskey}}}" />
    <input type="hidden" name="view" value="{{type}}" />
    <input type="hidden" name="id" value="{{courseid}}" />
    <input type="hidden" name="return" value="{{return}}" />
    <input type="hidden" name="itemid" value="{{itemid}}" />
    <input type="submit" name="back" value="{{changeoptionsstr}}" />
</form>
<!-- /user_options_button -->
